/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '/src/assets/override-matAngular.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%; background-color: #f1f5f9;}

.text-secondary { color: #64748B; }

.my-row {
    background-color: #f8fafc !important;
}

.my-row__alternate {
    background-color: #ffffff !important;
}